@charset "utf-8";

.fw {

    .roomlist {

        .roomlist-item {
            margin-top: 2px;
            padding: 0 2px;

            .roomlist-btn {

                border: none;
                background: none;
                display: flex;
                width: 100%;
                flex-flow: row wrap;
                justify-content: flex-start;
                text-align: left;
                padding: 10px 20px;
                background: #FFF;
                position: relative;

                .roomlist-thumb {
                    width: 15%; height: 0;
                    padding-bottom: 15%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 100%;
                    background-image: url(/images/profile_placeholder.png);
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0px; right: 0px;
                        width: 22%; height: 0;
                        padding-bottom: 22%;
                        background: $red;
                        border-radius: 100%;
                    }
                }
                &.readed {
                    .roomlist-thumb:before { content: none; }
                }

                .roomlist-wrap {
                    width: 82%;
                    padding-left: 20px;
                    line-height: 1.2;
                    .roomlist-name { font-size: 14px; font-weight: bold; margin: 2px 0 5px; }
                    .roomlist-mess { font-size: 12px; color: $black40; }
                    .roomlist-time {
                        position: absolute;
                        top: 10px; right: 10px;
                        font-size: 12px; color: $black60;
                    }
                }

            }

        }//.roomlist-item

    }

    .user-detail {
        pointer-events: none;
        &.show {
            pointer-events: inherit;
            .user-bg { opacity: 1; }
            .user-wrap { opacity: 1; transform: translate(-50%,-50%) scale(1,1); }
        }
        .user-bg {
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(#000,0.2);
            z-index: 999;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
        .user-wrap {
            position: fixed;
            width: 90%;
            max-width: 320px;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%) scale(0.9,0.9);
            z-index: 1000;
            opacity: 0;
            background: #FFF;
            transition: all 0.3s ease;
            .user-thumb {
                width: 100%; height: 0;
                padding-bottom: 100%;
                background-position: center;
                background-size: cover;
                background-image: url(/images/profile_placeholder.png);
            }
            .user-name {
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                line-height: 1;
                padding: 30px 20px;
            }
        }
    }

}//.fw
